# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# ------------------------
# FastAPI / virtualenv
# ------------------------
venv/
.env
*.env

# ------------------------
# Node / React
# ------------------------
node_modules/
dist/
build/
*.log

# ------------------------
# OS / Éditeurs
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
